{% extends 'community/community_base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <span class="display-1 d-block">400</span>
            <div class="mb-4 lead">잘못된 요청입니다.</div>
            <a href="/" class="btn btn-link">홈으로 돌아가기</a>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript" 
src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=v2uy1n9cc7"></script>        
<script type="module" src="{% static 'scripts/main/main_home.js' %}"></script>
{% endblock %}