{% extends 'main/main_base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/main/main_home.css' %}" rel="stylesheet" />
<style>
    /* 부모 컨테이너를 관리 */
    .article-container {
        padding: 10px;
        background-color: #f9f9f9; /* 배경색 추가 */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    }

    .article-header {
        border-bottom: 0.5px solid #ddd; /* 제목과 본문 사이에 구분선 추가 */
    }

    .article-header__title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .article-header_info{
        margin: 0px;
        padding: 0px;
    }

    .article-body {
        line-height: 1.6; /* 본문 가독성을 위한 줄 간격 조정 */
        font-size: 16px;
        color: #333;
    }

    .review-image {
        width: 100%; /* 이미지의 너비를 조정해 화면에 맞춤 */
        max-width: 500px; /* 이미지의 최대 너비를 제한 */
        height: auto;
        display: block;
        margin: 20px auto; /* 중앙 정렬을 위해 자동 마진 */
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 이미지에 그림자 추가 */
    }
</style>
{% endblock %}

{% block content %}
<div class="article-container container mt-5">
    <div class="article-header mb-3">
        <h2 class="article-header__title">{{ review.title }}</h2>
        
        <div class="article-header__info d-flex flex-row justify-content-between">
            <p><strong>이름:</strong> {{ review.name }}</p>
            <p><strong>대학교:</strong> {{ review.university }}</p>
            <p><strong>학과:</strong> {{ review.major }}</p>
            <p><strong>작성일:</strong> {{ review.created_at|date:"Y-m-d" }}</p>
        </div>
    </div>
    
    <div class="article-body">
        {% if review.image %}
            <img src="{{ review.image.url }}" class="review-image" alt="{{ review.title }}" onclick="openImageInNewWindow('{{ review.image.url }}')">
        {% endif %}
        <p>{{ review.content|safe }}</p>
    </div>
</div>

<script>
    function openImageInNewWindow(url) {
        window.open(url, '_blank', 'width=800,height=600');
    }
</script>
{% endblock %}
