{% extends 'main/main_base.html' %}
{% load static %}

{% block extra_css %}<link href="{% static 'css/main/main_home.css' %}" rel="stylesheet" />{% endblock %}

{% block content %}
<div class="article-container container mt-5">
    <div class="article-header mb-3">
        <h2 class="article-header__title nomargin" >{{ review.title }}</h2>
        
        <div class="article-header__info row">
            <p class="col nomargin"><strong>이름:</strong> {{ review.name }}</p>
            <p class="col nomargin"><strong>대학교:</strong> {{ review.university }}</p>
            <p class="col nomargin"><strong>학과:</strong> {{ review.major }}</p>
            <p class="col nomargin"><strong>작성일:</strong> {{ review.created_at|date:"Y-m-d" }}</p>
        </div>
    </div>
    <div class="article-body" style="white-space: pre-wrap;">
        <p>{{ review.content }}</p>
    </div>
</div>
{% endblock %}
