{% extends 'main/main_base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/main/main_home.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="notice-detail-container">
    <header class="notice-detail-header">
        <h1 class="notice-detail-title">{{ article.title }}</h1>
        <div class="notice-info">
            <div class="notice-info-item">
                <span class="notice-info-label">작성자</span>
                <span>애플과학</span>
            </div>
            <div class="notice-info-item">
                <span class="notice-info-label">작성일</span>
                <span>{{ article.created_at|date:"Y-m-d" }}</span>
            </div>
        </div>
    </header>
    
    <div class="notice-detail-content">
        {{ article.content|safe }}
    </div>
</div>
{% endblock %}