{% extends 'main/main_base.html' %}
{% load static %}
{% block extra_css %}
<link href="{% static 'css/main/main_home.css' %}" rel="stylesheet" />
<style>
    @media (max-width: 576px) {
        .header .container {
            padding: 0 1rem;
        }
        .timetable-box, .review-box {
            font-size: 0.875rem;
        }
        .way-info-title h2 {
            font-size: 1.5rem;
        }
        /* #map {
            display: none;
        } */
        .way-info {
            flex: 1 1 100%;
            max-width: 100%;
        }
        .timetable-container, .review-container {
            flex-direction: column;
            align-items: center;
        }
    }

    @media (max-width: 768px) {
        .way-info, #map {
            flex: 1 1 100%;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="backSky">
    <svg class="sky">
    </svg>
    <header class="text-white py-5 header-height header">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <br>
                        <h1 class="display-5 fw-bolder text-white mb-2 bigger-text">애플과학</h1>
                        <br>
                        <br>
                        <h4 class="text-white-50">
                            반포의 명예, 20년 한자리에서 키워낸 압도적인 성공의 이야기
                        </h4>
                        <h4 class="text-white-50">
                            의대와 서울대를 매년 배출하는 압도적 성과
                        </h4>
                        <h4 class="text-white-50">
                            매년 전교권의 조교진과 함께
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

<section class="py-5 border-bottom" id="timetable">
    <div class="container px-5 my-2 px-5 component-height component-flex">
        <div class="text-center margin-bt-big component-title">
            <h2 class="t-n2 fw-bolder big-text">시간표</h2>
        </div>
        <div class="timetable-container">
            <div class="timetable-box" data-bs-toggle="modal" data-bs-target="#timetableModal" data-timetable="1학년">1학년</div>
            <div class="timetable-box" data-bs-toggle="modal" data-bs-target="#timetableModal" data-timetable="세화고2">세화고 2학년</div>
            <div class="timetable-box" data-bs-toggle="modal" data-bs-target="#timetableModal" data-timetable="세화여고2">세화여고 2학년</div>
        </div>
    </div>
</section>

<section class="py-5 px-3 border-bottom component-flex" id="notice">
    <div class="container mt-4">
        <div class="text-center margin-bt-big ">
            <h2 class="t-1 fw-bolder big-text">공지사항</h2>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr onclick="location.href='{% url 'notice_detail' article.id %}'">
                    <td class="col-no">{{ forloop.counter }}</td>
                    <td class="col-title">{{ article.title }}</td>
                    <td class="col-author"> 애플과학 </td>
                    <td class="col-date">{{ article.created_at|date:"Y-m-d" }}</td>
                </tr>
                {% empty %}
                {% for _ in articles.paginator.page_range|slice:":10" %}
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if articles.paginator.num_pages > 1 %}
    <div class="pagination">
        <span class="step-links">
            {% if articles.has_previous %}
            <a href="?page=1#notice">&laquo;</a>  <!-- 처음 페이지로 -->
            <a href="?page={{ articles.previous_page_number }}#notice">&lt;</a>  <!-- 이전 페이지로 -->
            {% endif %}

            {% for i in articles.paginator.page_range %}
            <a href="?page={{ i }}#notice" class="{% if articles.number == i %}current{% endif %}">{{ i }}</a>
            {% endfor %}

            {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}#notice">&gt;</a>  <!-- 다음 페이지로 -->
            <a href="?page={{ articles.paginator.num_pages }}#notice">&raquo;</a>  <!-- 마지막 페이지로 -->
            {% endif %}
        </span>
    </div>
    {% endif %}
</section>

<section class="py-5 px-3 border-bottom component-flex" id="review">
    <div class="container mt-4">
        <div class="text-center margin-bt-big component-title">
            <h2 class="t-n1 fw-bolder big-text">수강 후기</h2>
        </div>
        <div class="row row-cols-2 row-cols-md-6 g-2 review-container">
            {% for review in reviews %}
            <div class="col" onclick="location.href='{% url 'review_detail' review.id %}'">
                <div class="review-box p-3">
                    <p>{{review.school}}</p>
                    <p>{{review.name}}</p>
                    <p>{{review.university}}</p>
                    <p>{{review.major}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="mb-n3 border-bottom component-flex mt-4" id="way">
    <div class="way nomargin nopadding">
        <div class="way-container">
            <div class="way-info">
                <div class="way-info-title mt-4">
                    <p class="big-text t-0 fw-bolder mb-4">오시는 길</p>
                        <p class="w1">서울특별시 서초구 신반포로 189 반포쇼핑타운 4동 402호 / 02-532-1706</p>
                        <div class="info-contents-content">
                        </div>
                </div>
                <div class="p-4 map-container">
                    <div id="map" class="ratio-169"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="timetableModal" tabindex="-1" aria-labelledby="timetableModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="timetableModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body-custom"></div>
    </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" 
src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=v2uy1n9cc7"></script>        
<script type="module" src="{% static 'scripts/main/main_home.js' %}"></script>
{% endblock %}
