# Python 관련
*.pyc
__pycache__/

# Virtual Environment
./.venv/
.venv
./.venv

# VSCode 설정
.vscode/

# 운영체제 별 설정 파일
.DS_Store
Thumbs.db

# Logs
*.log
appleWeb/logs
./appleWeb/logs

# Node_modules
./appleWeb/node_modules/
appleWeb/node_modules/

# Database
./appleWeb/db.sqlite3
appleWeb/db.sqlite3

# 불필요한 static
appleWeb/static/images/review_images
./appleWeb/static/images/review_images

# 기타
backup/
blog.txt
AWSCLIV2.pkg

# 백업
appleWeb/templates/management/(HOLD)management_special_lecture.html
appleWeb/static/css/management/(HOLD)management_special_lecture.css
