#course-title{
    font-size: x-large;
    font-weight: 350;
    padding: 25px 0px;
}

.decorate-none{
    text-decoration-style: none;
}



.btn.active {
    background-color: #007B; 
    color: white;
}

.d-flex-ni{
    display: flex;
}

#attendanceForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 250;
}

.table .th-school{
    width: 13%;
    text-align: center;
}

.table .th-grade{
    width: 11%;
    text-align: center;
}

.table .th-name{
    width: 16%;
    text-align: center;
}

.table .th-phone{
    width: 25%;
    text-align: center;
}

.table .th-grade{
    width: 10%;
    text-align: center;
}

#mngsldt-thead th,
#mngsl-thead th,
#mngpl-thead th{
    font-size: large;
    font-weight: 350;
    padding-bottom: 15px;
}

#mngsldt-tbody>tr>td,
#mngsl-tbody>tr>td,
#mngpl-tbody>tr>td {
    padding: 10px 5px 
}


#selectAllAttendance, #selectAllAbsence, #selectAllPayments{
    text-decoration: none;
    font-size: large;
    font-weight: 350;
    color: black;
    border: 1px solid #DEE2E6;
    padding: 6px 10px;
    margin-bottom: -5px;
}

#selectAllAttendance{
    animation: 0.5s linear;

    &:hover{
        background-color: rgb(84, 196, 120);
        color: white;
    }
}

#selectAllAbsence{
    animation: 0.5s linear;

    &:hover{
        background-color: rgb(220, 61, 61);
        color: white;
    }
}

#selectAllPayments{
    animation: 0.5s linear;

    &:hover{
        /* background-color: rgb(38, 107, 255); */
        /* background-color: tomato; */
        background-color: rgb(84, 196, 120);
        color: white;
    }
}

.slbtn{
    width: 10%;
    justify-content: center;
}

.detail-content-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.phone-display, .phone-input {
    width: 70%;
    margin-bottom: 1rem;
}

.button-wrapper {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.edit-btn, .btn-group {
    width: 100%;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

.btn-group {
    gap: 0.5rem;
}

.course-display {
    width: 70%;
}

/* .course-item {
    margin-bottom: 1rem;
} */

.course-edit {
    margin-top: 0.5rem;
}

.course-edit select {
    margin-bottom: 0.5rem;
    width: 100%;
    display: flex;
}

.button-wrapper {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.course-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.course-edit-row {
    display: flex;
    /* gap: 0.5rem; */
    align-items: center;
    /* margin-bottom: 0.5rem; */
}

.course-edit-row select {
    flex: 1;
}

.course-edit-row .delete-btn {
    width: auto;
    white-space: nowrap;
    margin-bottom: 0.5rem;
}

.add-course-btn{
    display: none;
    margin: 1rem auto;
    width: auto;
}

.add-course-btn.show {
    display: block;
}

#course-edit-btn{
    margin-bottom: 0;
}