.pl-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 10px; */
}

#course-title{
    font-size: x-large;
    font-weight: 350;
    padding: 25px 0px;
    /* margin: 20px 0px; */
}

.pl-head-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pl-head-btn{
    border: none;
    background-color: white;
    font-weight: 300;
    color: #323131be;
    /* transition: all 0.2s linear; */

    &:focus{
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: larger;
        text-decoration-line: underline;
    }
}

.pl-head-features{
    display: flex;
    /* justify-content: center; */
    /* justify-content: flex-end; */
    padding: 10px 15px;
    width: 100%;
    margin-bottom: 1rem;
}

.pl-search-form{
    width: 50%;
}

#pl-search{
    width: 100%;
}

.pl-btn-container{
    width: 50%;
}

.pl-btn-school{
    width: 30%;
}

.decorate-none{
    text-decoration-style: none;
}

.btn.active {
    background-color: #007B; /* 예시로 파란색 배경 설정 */
    color: white;
}

.d-flex-ni{
    display: flex;
}

#attendanceForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 250;
}

.table .th-school{
    width: 13%;
    text-align: center;
}

.table .th-grade{
    width: 11%;
    text-align: center;
}

.table .th-name{
    width: 16%;
    text-align: center;
}

.table .th-phone{
    width: 25%;
    text-align: center;
}

.table .th-grade{
    width: 10%;
    text-align: center;
}

/* .studentlist-detail-head tr {

} */

#mngsldt-thead th,
#mngsl-thead th,
#mngpl-thead th{
    font-size: large;
    font-weight: 350;
    padding-bottom: 15px;
}

#mngsldt-tbody>tr>td,
#mngsl-tbody>tr>td,
#mngpl-tbody>tr>td {
    padding: 10px 5px 
}


#selectAllAttendance, #selectAllAbsence, #selectAllPayments{
    text-decoration: none;
    font-size: large;
    font-weight: 350;
    color: black;
    border: 1px solid #DEE2E6;
    padding: 6px 10px;
    margin-bottom: -5px;
}

#selectAllAttendance{
    animation: 0.5s linear;

    &:hover{
        background-color: rgb(84, 196, 120);
        color: white;
    }
}

#selectAllAbsence{
    animation: 0.5s linear;

    &:hover{
        background-color: rgb(220, 61, 61);
        color: white;
    }
}

#selectAllPayments{
    animation: 0.5s linear;

    &:hover{
        /* background-color: rgb(38, 107, 255); */
        /* background-color: tomato; */
        background-color: rgb(84, 196, 120);
        color: white;
    }
}

.slbtn{
    width: 10%;
    justify-content: center;
}


.pl-th-school, .pl-td-school{
    width: 8% !important;   
}

.pl-th-grade, .pl-td-grade{
    width: 8% !important;   
}

.pl-th-name, .pl-td-name{
    width: 8% !important;   
}

.pl-th-phone, .pl-td-phone{
    width: 20% !important;   
}

.pl-th-parentphone, .pl-td-parentphone{
    width: 20% !important;   
}

.pl-th-paymentcount, .pl-td-paymentcount{
    width: 20% !important;   
}

.pl-th-checkbox, .pl-td-checkbox{
    width: auto !important;   
}