packages:
  yum:
    mariadb-devel: []
    gcc: []
    make: []

commands:
  01_install_mariadb_connector:
    command: |
      wget https://downloads.mariadb.com/Connectors/c/connector-c-3.1.12/mariadb-connector-c-3.1.12-linux-systemd-x86_64.tar.gz
      tar -xzf mariadb-connector-c-3.1.12-linux-systemd-x86_64.tar.gz
      sudo mkdir -p /usr/local/mariadb
      sudo cp -R mariadb-connector-c-3.1.12-linux-systemd-x86_64/* /usr/local/mariadb/
      sudo ln -s /usr/local/mariadb/bin/mariadb_config /usr/bin/mariadb_config
  02_verify_mariadb_config:
    command: mariadb_config --version
