{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>애플과학 로그인</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
</head>
<body class="bg-dark text-white">
    <header class="pt-5 pb-3">
        <h1 class="text-center">USER LIST</h1>
    </header>
    <ul>
    {% for user in users %}
        <li>{{ user.username }} - {{ user.get_full_name }}</li>
    {% endfor %}
    </ul>
    <footer class="bg-dark text-white text-center p-3 mt-5">
        © 2024 애플과학. 모든 권리 보유.
    </footer>
</body>
<script>
</script>
</html>