{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>애플과학</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/community/community_base.css' %}" rel="stylesheet" />
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">애플과학</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'community_home' %}">오늘의 수업</a>
                    <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'community_notice' %}">게시판</a> -->
                    {% if request.user.is_manager or request.user.is_superuser %}
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'management_home' %}">행정 페이지</a>
                    {% endif %}
                </div>
            </div>

            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn nav-btn-cst" id="sidebarToggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div id="current-time" class="current-time text-center">
                                <p id="date-display"></p>
                            </div>
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item dropdown">
                                    <div class="navbar-user">
                                        <p class="navbar-text nomargin" id="sessionTimer">90:00</p>
                                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ request.user.name }}
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            <!-- <a class="dropdown-item" href="#!">마이페이지(준비중)</a> -->
                                            <a class="dropdown-item" href="{% url 'user_logout' %}">로그아웃</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'main_home' %}">메인페이지</a>
                                            {% if request.user.is_manager %}
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'management_home' %}">행정 페이지</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <main>
                    {% block content %}
                    {% endblock %}
                </main>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script type="module" src="{% static 'scripts/community/community_base.js' %}"></script>
        {% block extra_scripts %}{% endblock extra_scripts %}
    </body>
</html>
