{% extends 'management/management_base.html' %}
{% load static %}
{% block extra_css %}
<link href="{% static 'css/management/management_studentlist.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-center my-2 pt-2 pb-3 border-bottom w-100">{{ course.course_school }} {{ course.course_grade }} {% if course.course_subject == 'physics' %} 물리 {% elif course.course_subject == 'chemistry' %} 화학 {% elif course.course_subject == 'biology' %} 생명과학 {% else %} 지구과학 {% endif %} {{course.course_day}} {{course.course_time}}</h2>
    <div class="table-responsive text-center w-75">
        <table class="table table-striped">
            <thead class="studentlist-detail-head">
                <tr>
                    <th>구분</th>
                    <th>학교</th>
                    <th>학년</th>
                    <th>이름</th>
                    <th>부모님 전화번호</th>
                    <th>전화번호</th>
                    <th>출석</th>
                    <th>결석</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                {% if not student.is_teacher %}
                <tr>
                    <td>학생</td>
                    <td>{{ student.school }}</td>
                    <td>{{ student.grade }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.parent_phone }}</td>
                    {% if student.phone != None %}
                        <td>{{ student.phone }}</td>
                    {% else %}
                        <td> - </td>
                    {% endif %}
                    {% if student.id in attendance_records %}
                        <td>
                            <button class="btn btn-success disable" disabled>출석</button>
                        </td>
                        <td>
                            <button class="btn btn-disabled disable" disabled>결석</button>
                        </td>
                    {% elif student.id in absence_records %}
                        <td>
                            <button class="btn btn-disabled disable" disabled>출석</button>
                        </td>
                        <td>
                            <button class="btn btn-danger disable" disabled>결석</button>
                        </td>
                    {% else %}
                        <td>
                            {% if student.id in attendance_records %}
                            <button class="btn btn-success" disabled>출석</button>
                            {% else %}
                            <button id="attendance-button-{{ student.id }}" class="btn btn-primary" onclick="recordAttendance({{ student.id }}, {{ course.id }}, '{{student.name}}')">출석</button>
                            {% endif %}
                        </td>
                        <td>
                            {% if student.id in absence_records %}
                            <button class="btn btn-secondary" disabled>결석</button>
                            {% else %}
                            <button id="absence-button-{{ student.id }}" class="btn btn-warning" onclick="recordAbsence({{ student.id }}, {{ course.id }}, '{{student.name}}')">결석</button>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center mt-4">
        <a href="{% url 'export_attendance' course.id %}" class="btn btn-info">출석부 출력</a>
    </div>    
</div>
{% endblock %}

{% block extra_scripts %}
<!-- <script type="module" src="{% static 'scripts/management/management_studentlist.js' %}"></script> -->
<script>
    function recordAttendance(studentId, courseId, studentName) {
        if (confirm(`${studentName} 학생을 출석 처리 하시겠습니까?`)) {
            fetch(`/management/api/record_attendance/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ student_id: studentId, course_id: courseId })
            }).then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    const attendanceButton = document.getElementById(`attendance-button-${studentId}`);
                    const absenceButton = document.getElementById(`absence-button-${studentId}`);
                    attendanceButton.disabled = true;
                    attendanceButton.textContent = '출석';
                    attendanceButton.classList.remove('btn-primary');
                    attendanceButton.classList.add('btn-success');
                    attendanceButton.classList.add('disable');
                    if (absenceButton) {
                        absenceButton.disabled = true;
                        absenceButton.classList.add('disable');
                        absenceButton.classList.remove('btn-warning');
                        absenceButton.classList.add('btn-disabled');
                    }
                } else {
                    alert('오류 발생: ' + data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        }
    }

    function recordAbsence(studentId, courseId, studentName) {
        if (confirm(`${studentName} 학생을 결석 처리 하시겠습니까?`)) {
            fetch(`/management/api/record_absence/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ student_id: studentId, course_id: courseId })
            }).then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    const absenceButton = document.getElementById(`absence-button-${studentId}`);
                    const attendanceButton = document.getElementById(`attendance-button-${studentId}`);

                    absenceButton.disabled = true;
                    absenceButton.textContent = '결석';
                    absenceButton.classList.remove('btn-warning');
                    absenceButton.classList.add('btn-danger');
                    absenceButton.classList.add('disable');

                    if (attendanceButton) {
                        attendanceButton.disabled = true;
                        attendanceButton.classList.remove('btn-primary');
                        attendanceButton.classList.add('btn-disabled');
                        attendanceButton.classList.add('disable');
                    }
                } else {
                    alert('오류 발생: ' + data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        }
        
    }
</script>
{% endblock %}
