{% extends 'management/management_base.html' %}
{% load static %}
{% block extra_css %}
<link href="{% static 'css/management/management_handover.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="handover-detail-container mt-4">
        <label class="form-label" for="handover-date">작성일</label>
        <div class="d-flex flex-row align-items-center">
            <p id="handover-date" class="form-control nomargin">{{ handover.created_date|date:"Y-m-d" }} {{ handover.created_date|date:"l" }}</p>
            {% if handover.author == user %}
            <div class="handover-actions d-flex flex-row justify-content-end nomargin">
                <form method="post" action="{% url 'management_handover_delete' handover.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-handover btn btn-danger ms-4" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
                </form> 
                <a href="{% url 'management_handover_update' handover.id %}" class="btn-handover btn btn-primary ms-2">수정</a>           
            </div>
            {% endif %}
        </div>
    </div>

    <div class="handover-detail-container">
        <label for="" class="form-label">작성자</label>
        <p class="form-control"> {{ handover.author }}</p>
    </div>

    <div class="handover-detail-container">
        <label for="" class="form-label">근무 시간</label>
        <p class="form-control"> {{ handover.shift }}</p>
    </div>

    <div class="handover-detail-container">
        <label for="" class="form-label">인수인계 내용</label>
        <div class="form-control" style="min-height: 150px;">{{ handover.content|safe }}</div>
    </div>
</div>
{% endblock %}
