{% extends 'management/management_base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="my-4 text-center">학생 명단</h1>
    <div id="school-buttons" class="row d-flex justify-content-center mb-3">
        <button class="btn btn-primary school-button col-sm mx-3 mb-1" data-school="세화고">세화고</button>
        <button class="btn btn-primary school-button col-sm mx-3 mb-1" data-school="세화여고">세화여고</button>
    </div>
    <div id="grade-buttons" class="row justify-content-center mb-3" style="display:none;">
        <button class="btn btn-secondary grade-button col-sm mx-3" data-grade="1학년">1학년</button>
        <button class="btn btn-secondary grade-button col-sm mx-3" data-grade="2학년">2학년</button>
        <button class="btn btn-secondary grade-button col-sm mx-3" data-grade="전체">전체</button>
    </div>
    <div class="justify-content-between mb-3" id="search-form" style="display: none;">
        <div class="search-form_half">
            <input type="text" id="student-search" class="form-control" placeholder="이름 검색">
        </div>
        <!-- 오른쪽: 정렬 버튼 -->
        <div class="search-form_half d-flex flex-row align-items-center" id="sort-buttons">
            <button class="mx-2 d-flex justify-content-center align-items-center btn btn-third sort-button" value="name-asc">이름 ▲</button>
            <button class="mx-2 d-flex justify-content-center align-items-center btn btn-third sort-button" value="name-desc">이름 ▼</button>
            <button class="mx-2 d-flex justify-content-center align-items-center btn btn-third sort-button" value="payment-asc">결제횟수 ▲</button>
            <button class="mx-2 d-flex justify-content-center align-items-center btn btn-third sort-button" value="payment-desc">결제횟수 ▼</button>
        </div>
        <!-- class="col-sm-1 mx-1 btn btn-third sort-button" -->
    </div>    
    <table class="table" id="student-table" style="display:none;">
        <thead id="mngsl-thead">
            <tr>
                <th class="th-school">학교</th>
                <th class="th-grade">학년</th>
                <th class="th-name">이름</th>
                <th class="th-phone">전화번호</th>
                <th class="th-phone">부모님 전화번호</th>
                <th class="th-count">잔여 수업 횟수</th>
            </tr>
        </thead>
        <tbody id="mngsl-tbody">
            <!-- 학생 정보가 동적으로 채워질 위치 -->
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="module" src="{% static 'scripts/management/management_studentlist.js' %}"></script>
{% endblock %}
