{% extends 'management/management_base.html' %}
{% load static %}
{% block extra_css %}
<link href="{% static 'css/management/management_wait_black_list.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- 날짜 자동 입력 -->
        <div class="wb-add-head my-4">
            <label for="wb-date" class="form-label">등록 날짜</label>
            <input type="text" id="wb-date" class="form-control" value="{{ today }}" readonly>
        </div>

        <!-- 학교 선택 -->
        <div class="wb-add-school mb-4">
            <label for="wb-school" class="form-label">학교</label>
            <select id="wb-school" class="form-select" name="school">
                <option value="세화고">세화고</option>
                <option value="세화여고">세화여고</option>
                <option value="연합반">연합반</option>
            </select>
        </div>

        <!-- 학년 입력 -->
        <div class="wb-add-grade mb-4">
            <label for="wb-grade" class="form-label">학년</label>
            <select name="grade" id="wb-grade" class="form-select">
                <option value="예비고1">예비고1</option>
                <option value="1학년">1학년</option>
                <option value="2학년">2학년</option>
                <option value="3학년">3학년</option>
            </select>
        </div>

        <!-- 이름 입력 -->
        <div class="wb-add-name mb-4">
            <label for="wb-name" class="form-label">이름</label>
            <input type="text" id="wb-name" class="form-control" name="name" placeholder="학생 이름">
        </div>

        <!-- 연락처 입력 -->
        <div class="wb-add-phone mb-4">
            <label for="wb-phone" class="form-label">연락처</label>
            <input type="text" id="wb-phone" class="form-control" name="phone" placeholder="연락처">
        </div>

        <!-- CKEditor5 비고 입력 -->
        <div class="wb-add-note mb-4">
            <label for="wb-note" class="form-label">비고</label>
            <textarea id="wb-note" class="form-control" name="note"></textarea>
        </div>

        <!-- Submit Button -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">명단 추가</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#wb-note'), {
            placeholder: '대기 등록시 요구사항 혹은 블랙리스트 등록 사유를 적어주세요. 연합반이라면, 어느 학교인지 적어주세요!'
        })
        .catch(error => {
            console.error(error);
        });
</script>
{% endblock %}
