{% extends 'management/management_base.html' %}
{% load static %}
{% block extra_css %}
<link href="{% static 'css/management/management_home.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container wth-fl">
    <h1 class="my-4 text-center">전체 수업</h1>
    <div id="school-buttons" class="row d-flex justify-content-center mb-3">
        <button class="btn btn-primary school-button col-sm-4 mx-4 mb-1" data-school="세화고">세화고</button>
        <button class="btn btn-primary school-button col-sm-4 mx-4 mb-1" data-school="세화여고">세화여고</button>
    </div>
    <!-- 여기에 courses가 동적으로 추가됩니다 -->
</div>
{% endblock %}

{% block extra_scripts %}
<script type="module" src="{% static 'scripts/management/management_all_lectures.js' %}"></script>
{% endblock extra_scripts %}