{% extends 'management/management_base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/management/management_paylist.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="pl-head">
        <h1 class="my-4 text-center">결제 요청 목록</h1>
        <div class="pl-head-features">
            <div class="pl-search-form">
                <input type="text" id="pl-search" class="form-control" placeholder="이름 검색">
            </div>
            <div class="pl-btn-container d-flex justify-content-evenly mx-3">
                <button class="pl-btn-school btn btn-primary mx-1">세화고</button>
                <button class="pl-btn-school btn btn-primary mx-1">세화여고</button>
                <button class="pl-btn-school btn btn-primary mx-1">연합반</button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead id="mngpl-thead">
            <tr>
                <th class='pl-th-school'>학교</th>
                <th class='pl-th-grade'>학년</th>
                <th class='pl-th-name'>이름</th>
                <th class='pl-th-phone'>전화번호</th>
                <th class='pl-th-parentphone'>부모님 전화번호</th>
                <th class='pl-th-paymentcount'>수업 초과 횟수</th>
                <th class='pl-th-checkbox'><button type="button" id="selectAllPayments" class="btn btn-link">결제 확인</button></th>
            </tr>
        </thead>
        <tbody id="mngpl-tbody">
            {% for user in users %}
            <tr>
                <td>{{ user.school }}</td>
                <td>{{ user.grade }}</td>
                <td onclick="location.href='{% url 'management_student_detail' user.id %}'" style="cursor: pointer;">{{ user.name }}</td>
                {% if user.phone != None %}
                        <td onclick="location.href='{% url 'management_student_detail' user.id %}'" style="cursor: pointer;">{{ user.phone }}</td>
                {% else %}
                        <td> - </td>
                {% endif %}
                <td>{{ user.parent_phone }}</td>
                <td>{{ user.payment_count }}</td>
                <td><input type="checkbox" class="payment-checkbox" data-user-id="{{ user.id }}"></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">결제 요청이 있는 회원이 없습니다.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center mt-4">
        <button type="button" class="btn btn-primary" id="processPayments">결제 확인 처리</button>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'scripts/management/management_paylist.js' %}"></script>
{% endblock %}
